<div class="d-flex align-items center justify-content-center vh100">
  <H1 class="mb-4"> Welcome to my first functional project! </H1>
</div>

<div class="d-flex align-items center justify-content-center">
  <H2 class="text-muted"> <br> Here you can find: <br>  <br>
  - functional user authetication; <br>
  - registrations; <br> 
  - password management/recovery by email. </H2>
</div>
